---
import Layout from '../layouts/Layout.astro';
import SocialCard from '../components/socialCard.astro';
---

<Layout title="Nico Kunz">
	<main>
		<div class="flex justify-center mt-32 mb-80">
			<div class="flex w-fit flex-col justify-center">
				<h1 class="text-5xl font-bold text-gray-50">Hi, I'm Nico</h1>
				<p class="text-gray-50 text-xl">Master Student <a class="hover:text-gray-400" href="https://www.tu-darmstadt.de/">@TU Darmstadt</a></p>
			</div>
		</div>
		<!-- Contact Me Section -->
		<div class="flex justify-center">
			<div class="flex w-fit flex-col justify-center">
				<h2 class="text-4xl font-bold text-gray-50 mb-4">Contact Me</h2>
				<div class="flex flex-row justify-evenly space-x-8">
					<SocialCard title='LinkedIn' iconName='mdi:linkedin' link='https://www.linkedin.com/in/nico-kunz'/>
					<SocialCard title="GitHub" iconName="mdi:github" link="https://www.github.com/nico-kunz"/>
				</div>
			</div>
		</div>
	</main>
</Layout>
