---
import Layout from '../layouts/Layout.astro';
import Icon from 'astro-icon';
---

<Layout title="Nico Kunz">
	<main>
		<div class="flex flex-col my-32 md:flex-row">
			<div class="mx-auto">
				<h1 class="text-5xl font-bold text-gray-50">Hi, I'm Nico</h1>
				<p class="text-gray-50 text-xl">Master Student @ TU Darmstadt</p>
				<p class="text-gray-50 text-xl">I showcase my academic achievements, projects and professional experiences here</p>
			</div>
		</div>
		<!-- Contact Me Section -->
		<div class="flex flex-col md:flex-row">
			<div class="mx-auto">
				<h2 class="text-3xl font-bold text-gray-50">Contact Me</h2>
				<a class="hover:bg-black" href="/"><Icon class="text-gray-50 h-5" name="fa:linkedin"/></a>
			</div>
		</div>
	</main>
</Layout>
